@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


body {
  text-align: center;
  font-family: 'Raleway';
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: #ddd;
}

body * {
padding: .5rem;
}

#enter {
margin: 1em;
}

ul {
list-style: none;
}

.done {
  text-decoration: line-through;
}