@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway, Helvetica, sans-serif;
  background-color: #ddd;
  font-size: 1.5em;
}

button {
  background-color: #222;
  color: white;
  margin: 0 2em;
}



input {
  padding: 1em;
  margin-bottom: 2em;
}

ul {
list-style: none;
}


.done {
  text-decoration: line-through;
}